.box{
    width:300px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    /* background-color: #282A36; */
    background: url('./pic.jpg');
}

img{
    display: block;
    margin: 0 auto;
}